<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id='app'>
    <cpn :cnum1="num1" :cnum2="num2" @change1="num1change" @change2="num2change"/>
  </div>

  <template id="cpn">
    <div>      
      <h2>props: {{cnum1}}</h2>
      <h2>data: {{dnum1}}</h2>
      <!-- 不要把数据双向绑定到props里面，而是绑定到data里面 -->
      <input type="text" v-model="dnum1">
      <h2>props: {{cnum2}}</h2>
      <h2>data: {{dnum2}}</h2>
      <input type="text" v-model="dnum2">
    </div>
  </template>

  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        num1: 1,
        num2: 0
      },
      methods:{
        num1change(value){
          this.num1 = parseFloat(value);
        },
        num2change(value){
          this.num2 = parseFloat(value);
        }
      },
      components: {
        cpn: {
          template: '#cpn',
          props: {
            cnum1: Number,
            cnum2: Number,
          },
          data(){
            return{
              dnum1: this.cnum1,
              dnum2: this.cnum2
            }
          },
          watch: {
            dnum1(newVal){
              this.dnum2 = newVal * 100;
              this.$emit('change2', this.dnum2);
            },
            dnum2(newVal){
              this.dnum1 = newVal / 100;
              this.$emit('change1', this.dnum1);
            }
          }
        }
      }
    })
  </script>
</body>
</html>